.anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
}

.yys-input-clear-icon {
  color: rgba(0, 0, 0, 0.25);
  font-size: 12px;
  cursor: pointer;
  transition: color 0.3s;
  vertical-align: 0;
}

.yys-input {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;

  &::-webkit-input-placeholder {
    color: #bfbfc5;
  }

  &:hover {
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  }

  &:focus {
    outline: 0;
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  }

  &.yys-input-large {
    height: 40px;
    padding: 6px 11px;
    font-size: 16px;
  }

  &.yys-input-small {
    height: 24px;
    padding: 1px 7px;
  }

  &.yys-input-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    user-select: none
  }
}

.yys-input-affix-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: start;

  & > :not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  .yys-prefix-input {
    position: relative;
    text-align: inherit;
    padding: 0 30px;
  }

  .yys-input-addonBefore {
    position: absolute;
    height: calc(100% - 2px);
    top: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-50%);
    background-color: #fafafa;
    padding: 0 11px;
    border: 1px solid #d9d9d9;
    border-right: 0;
  }

  .yys-input-addonAfter {
    position: absolute;
    right: -1px;
    height: calc(100% - 2px);
    top: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-50%);
    background-color: #fafafa;
    padding: 0 11px;
    border: 1px solid #d9d9d9;
    border-left: 0;
  }

  .yys-input-prefix,
  .yys-input-suffix {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.65);
    line-height: 0;
    transform: translateY(-50%);
  }

  .yys-input-enterButton {
    background-color: #1890ff;
  }

  .yys-input-tooltip {
    background: #404040;
    max-width: 250px;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 40px;
    border-radius: 4px;
    left: 0;
    word-wrap: break-word;

    &:before {
      position: absolute;
      bottom: -2.5px;
      left: 10px;
      display: block;
      width: 5px;
      height: 5px;
      margin: auto;
      background-color: #404040;
      content: "";
      pointer-events: auto;
      transform: rotate(45deg)
    }
  }

  .yys-btn {
    margin-right: -12px;
    border-radius: 0
  }

  .yys-textarea-suffix {
    position: absolute;
    top: 4px;
    right: 8px;
    color: rgba(0, 0, 0, 0.65);
  }

  .yys-textarea-count {
    text-align: right;
    color: #00000073;
    display: block;
  }
}

y-input-group {
  .yys-input {
    border-radius: 0 !important;

    &:hover {
      z-index: 1;
    }

    &:focus {
      z-index: 1;

    }
  }

  & > .yys-input-affix-wrapper:first-child, .yys-select:first-child {
    margin-right: -1px;

    .yys-input {
      border-radius: 4px 0 0 4px !important;

    }
  }

  & > .yys-input-affix-wrapper:last-child, & > .yys-select:last-child {
    .yys-input {
      border-radius: 0px 4px 4px 0px !important;

    }
  }
}

.yys-btn {
  margin: 10px;
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;

  &:active {
    box-shadow: none;
    outline: 0;
  }

  &:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
  }

  &.yys-btn-text {
    color: #000000d9;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &.yys-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

    &.yys-btn-ghost {
      color: #1890ff;
      background: transparent !important;
      border-color: #1890ff;
    }
  }

  &.yys-btn-dangerous {
    color: #ff4d4f;
    background: #fff;
    border-color: #ff4d4f;

    &.yys-btn-primary {
      color: #fff;
      background: #ff7875;
      border-color: #ff7875;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px #0000000b;
    }

    &.yys-btn-link {
      color: #ff4d4f;
      background: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.yys-btn-danger {
    color: #fff;
    background-color: #ff4d4f;
    border-color: #ff4d4f;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

    &.yys-btn-ghost {
      color: #ff4d4f;
      background: transparent !important;
      border-color: #ff4d4f;
    }
  }

  &.yys-btn-dashed {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border-style: dashed;

    &.yys-btn-dangerous {
      color: #ff4d4f;
      background: #fff;
      border-color: #ff4d4f;
    }
  }

  &.yys-btn-link {
    color: #1890ff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &.yys-btn-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;

    &.yys-btn-link {
      color: #c9c9c9;
      background: transparent;
      border-color: transparent;
      box-shadow: none;
    }

    &.yys-btn-text {
      color: #c9c9c9;
      background: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  &.yys-btn-ghost {
    color: #fff;
    background: transparent !important;
    border-color: #fff;
  }

  &.yys-btn-small {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
  }

  &.yys-btn-large {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 4px;
  }

  &.yys-btn-block {
    width: 100%;
  }

  &.yys-btn-circle {
    min-width: 32px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    border-radius: 50%;

    &.yys-btn-small {
      min-width: 24px;
      border-radius: 50%;
    }

    &.yys-btn-large {
      min-width: 40px;
      border-radius: 50%;
    }
  }

  &.yys-btn-round {
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 32px;

    &.yys-btn-small {
      height: 24px;
      padding: 0 12px;
      font-size: 14px;
      border-radius: 24px;
    }

    &.yys-btn-large {
      height: 40px;
      padding: 6.4px 20px;
      font-size: 16px;
      border-radius: 40px;
    }
  }

  .yys-btn-loadingBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.yys-checkbox-wrapper {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
  display: inline-block;
  cursor: pointer;

  &.yys-disabled-text {
    color: #00000040;
    cursor: not-allowed;
  }
}

.yys-checkbox-input {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  //&:after {
  //  position: absolute;
  //  top: 0;
  //  background-color: white;
  //  border-radius: 2px;
  //  color: #000;
  //  width: 17px;
  //  height: 17px;
  //  display: inline-block;
  //  visibility: visible;
  //  padding-left: 0px;
  //  text-align: center;
  //  content: ' ';
  //  box-sizing: border-box;
  //  border: 1px solid #d9d9d9;
  //}
  //
  //&:checked::after {
  //  background-color: #1890ff;
  //  content: '✓';
  //  font-size: 12px;
  //  font-weight: bold;
  //  color: white;
  //}
}

.yys-checkbox-indeterminate:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #1890ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yys-checkbox-text {
  vertical-align: middle;
}

.yys-textarea {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 4px 11px;
  font-size: 14px;
  width: 100%;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-family: "Microsoft YaHei UI";

  &::-webkit-input-placeholder {
    color: #bfbfc5;
    line-height: 20px;
  }

  &:hover {
    border-color: #1890ff;
  }

  &:focus {
    outline: 0;
    border-color: #1890ff;
  }


}

.yys-checkbox-group {
  .yys-checkbox:not(:last-child) {
    margin-right: 8px;
  }
}

.yys-select {
  display: inline-block;
  position: relative;

  &.yys-select-disabled {
    cursor: not-allowed;
  }

  .yys-select-box {
    .yys-input {
      cursor: pointer;
      caret-color: transparent;
      user-select: none !important;

      &.yys-input-disabled {
        cursor: not-allowed;
      }

      &::selection {
        background-color: transparent;
      }
    }
  }

  .yys-tags-list {
    position: relative;

    #textarea {
      color: transparent;

      &::selection {
        background-color: transparent;
      }
    }

    .yys-tags-box {
      position: absolute;
      left: 3px;
      top: 0;
      z-index: 0;
      cursor: text;


    }

    .yys-tags-item {
      user-select: none;
      border: 1px solid #e8e8e8;
      border-radius: 2px;
      cursor: default;
      transition: padding .3s cubic-bezier(.645, .045, .355, 1);
      padding: 0 20px 0 10px;
      background-color: #fafafa;
      height: 24px;
      margin-top: 3px;
      margin-right: 3px;
      line-height: 24px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
      position: relative;

      .yys-close-icon {
        color: #898989;
        position: absolute;
        right: 5px;
        top: -2px;
        cursor: pointer;
      }
    }
  }

  .yys-tags-options-box {
    z-index: 10;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
    box-shadow: 0 2px 5px 2px #ebebeb;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    .yys-option-item {
      height: 32px;
      width: 100%;
      text-align: left;
      cursor: pointer;
      line-height: 32px;
      padding-left: 11px;
      position: relative;

      &::selection {
        background-color: transparent;
      }

      &:after {
        content: '√';
        position: absolute;
        right: 20px;
        color: transparent;
      }

      &.yys-tags-selected {
        background-color: #f5f5f5;

        &:after {
          color: #339dff !important;
        }
      }

      &:hover {
        background-color: #e6f7ff;

        &:after {
          color: #252729;
        }
      }
    }
  }

  .yys-option-box {
    z-index: 10;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
    box-shadow: 0 2px 5px 2px #ebebeb;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    .yys-option-item {
      height: 32px;
      width: 100%;
      text-align: left;
      cursor: pointer;
      line-height: 32px;
      padding-left: 11px;

      &.yys-option-selected {
        background-color: #f5f5f5;
      }

      &:hover {
        background-color: #e6f7ff;
      }
    }
  }

  .yys-empty-option {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
  }
}

table {
  font-size: 14px;
  line-height: 1.5;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  margin: 8px 0 16px;

  th {
    padding: 14px 16px;
    border-width: 0 0 2px;
    background-color: #fafafa;
    line-height: 50px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
  }

  td {
    line-height: 50px;
    padding: 14px 16px;
    border-bottom: 1px solid #e8e8e8;
  }

  code {
    margin: 0 1px;
    background: #f2f4f5;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #eee;
  }
}
